.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "../"} E-Commerce Analysis
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Themes
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "themes"}
            %li No where
        %li
          %a{:href => "../help/"} Help
        %li
          %a{:href => "http://krishnaklooper.com"} Me
        %li.dropdown
          %a#download.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Journal
            %span.caret
          %ul.dropdown-menu{"aria-labelledby" => "download"}
            %li
              %a{:href => "#"} Sandbox
            %li.divider
            %li
              %a{:href => "#"} bootstrap.min.css
            %li
              %a{:href => "#"} bootstrap.css
            %li.divider
            %li
              %a{:href => "#"} variables.less
            %li
              %a{:href => "#"} bootswatch.less
            %li.divider
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Klooper

.main-page-start
  .container
    .row{:style=>"padding-top:30px;"}
      .col-xs-2
      .col-xs-3.ray-palmer 
        .h2 Providing Analysis
        %p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus     
      .col-xs-2    
      .col-xs-3.ray-palmer 
        .h2 Giving Results
        %p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      .col-xs-2       

