.row
  .col-xs-4
  .col-xs-4
    %h1 Edit the product
  .col-xs-4
%br
= render 'form'

.row
  .col-xs-4
  .col-xs-2
    = link_to 'Show', @product
  .col-xs-2   
    = link_to 'Back', products_path
  .col-xs-4